<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634889340062-u2bjda8qlkgglok9qfun18lgke89jp96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634889340062-u2bjda8qlkgglok9qfun18lgke89jp96</string>
	<key>API_KEY</key>
	<string>AIzaSyCRqPqGazE1-xPGz9p1F7m-0eTu9a2fp-8</string>
	<key>GCM_SENDER_ID</key>
	<string>634889340062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.fernandosalas.BookOutlet</string>
	<key>PROJECT_ID</key>
	<string>bookoulet-99650</string>
	<key>STORAGE_BUCKET</key>
	<string>bookoulet-99650.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634889340062:ios:5d8ed6365258ff977a678f</string>
</dict>
</plist>